:root {
  /* Brand */
  --color-primary: #3F51B5;
  --color-primary-deep: #1C2541;
  --color-accent: #4F6DFF;
  --color-accent-soft: #A8B4FF;

  /* Light Mode Defaults */
  --color-bg: #F4F6FB;
  --color-surface: #FFFFFF;
  --color-surface-elevated: #E9ECF5;

  --color-text: #1C2541;
  --color-text-secondary: #4A4F63;
  --color-border: #D9DBE8;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 30px 20px;
  display: flex;
  /* background-color: var(--color-accent-soft); */
}

.container {
  margin: 0 auto;
  width: 1000px;
  background-color: rgba(255, 255, 255, .2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 20px;
  /* border: 1px solid black; */
}

.header {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 10px;
  /* height: 50px; */
  align-items: center;
}

.logo {
  font-weight: 600;
  cursor: pointer;
}

.search {
  justify-self: end;
  display: flex;
  /* gap: 10px; */

  width: 40vw;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 6px 13px;
  padding-right: 10px;
}

.search > * {
  height: 30px;
  border: 0px;
}

.search > input {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  outline: 0px;
  font-size: 1rem;
  color: rgba(0, 0, 0, .8);
  border-radius: 10px;
}

.search > button {
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  cursor: pointer;
}

img {
  min-width: 100%;
  min-height: 100%;
}
